<div class="text-gray-700 text-center my-10">
  <p class="text-2xl font-bold">
    Welcome to your dashboard!
  </p>
  <p>
    You can customize various options and moderate job postings here.
  </p>
</div>

<div class="w-3/4 mx-auto">

  <% if get_environment == "development" %>
  <a href="http://<%= @account.slug %>.lvh.me:4242/" target="_blank">
  <% else %>
  <a href="http://<%= @account.slug %>.tryferret.com/" target="_blank">
  <% end %>
    <div class="flex items-center rounded shadow mb-8 bg-white">
      <div class="px-10 py-10">
        <div class="font-bold text-2xl mb-2">
          Visit your public job board
        </div>
        <p class="text-gray-600 text-base"></p>
      </div>
    </div>
  </a>

  <a href="/admin/<%= @account.slug %>/jobs">
    <div class="flex items-center rounded shadow mb-8 bg-white">
      <div class="px-10 py-10">
        <div class="font-bold text-2xl mb-2">
          Add, edit or delete job listings
        </div>
        <p class="text-gray-600 text-base"></p>
      </div>
    </div>
  </a>

  <a href="/admin/<%= @account.slug %>/settings">
    <div class="flex items-center rounded shadow mb-8 bg-white">
      <div class="px-10 py-10">
        <div class="font-bold text-2xl mb-2">
          Modify settings like your board name, description and fonts
        </div>
        <p class="text-gray-600 text-base"></p>
      </div>
    </div>
  </a>

  <a href="/admin/<%= @account.slug %>/domain">
    <div class="flex items-center rounded shadow mb-8 bg-white">
      <div class="px-10 py-10">
        <div class="font-bold text-2xl mb-2">
          Use a custom domain or forward your subdomain
        </div>
        <p class="text-gray-600 text-base"></p>
      </div>
    </div>
  </a>

  <a href="/admin/<%= @account.slug %>/payment">
    <div class="flex items-center rounded shadow mb-8 bg-white">
      <div class="px-10 py-10">
        <div class="font-bold text-2xl mb-2">
          Start charging for jobs and making money
        </div>
        <p class="text-gray-600 text-base"></p>
      </div>
    </div>
  </a>

  <a href="/docs" target="_blank">
    <div class="flex items-center rounded shadow mb-8 bg-white">
      <div class="px-10 py-10">
        <div class="font-bold text-2xl mb-2">
          Need to re-watch a tutorial video? Have questions?
        </div>
        <p class="text-gray-600 text-base"></p>
      </div>
    </div>
  </a>

</div>
