<section class="mt-8 w-5/6 mx-auto">
  <div>
    <p class="text-red-500 font-semibold">
      <a href="/admin/">
        &larr; Back to dashboard
      </a>
    </p>
  </div>
</section>

<div class="rounded shadow my-4 bg-white w-5/6 p-10 mx-auto">
  <a href="jobs/new" class="float-right">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
      Add a new job
    </button>
  </a>
  <div class="mb-2 w-4/5">
    <p class="font-bold text-2xl mb-2">
      Job Postings
    </p>
  </div>
  <div class="my-8">
    <table class="table-auto">
      <thead>
        <tr>
          <th class="px-4 py-2">Job</th>
          <th class="px-4 py-2">View</th>
          <th class="px-4 py-2">Edit</th>
          <th class="px-4 py-2">Customer</th>
          <th class="px-4 py-2">Delete Job</th>
        </tr>
      </thead>
      <tbody>
        <% @jobs.each_with_index do |job, index| %>
          <tr>
            <td class="border px-4 py-2">
              <span class="font-bold">Position</span>: <%= job.position %> <br>
              <span class="font-bold">Company</span>: <%= job.company_name %> <br>
              <span class="font-bold">Customer</span>: <%= job.owner %> <br>
              <span class="font-bold">Email</span>: <%= job.contact %> <br>
              <span class="font-bold">Posted</span>: <%= Time.parse(job.date).strftime('%b %d, %Y') %><br>
            </td>
            <td class="border px-4 py-2 underline">
              <a href="/jobs/<%= job.slug %>" target="_blank">View</a>
            </td>
            <td class="border px-4 py-2 underline">
              <a href="jobs/<%= job.slug %>/edit">
                Edit
              </a>
            </td>
            <td class="border px-4 py-2 underline">
              <% if job.edit_id %>
                <a href="/jobs/<%= job.slug %>/<%= job.edit_id %>/edit" target="_blank">
                  Edit Link
                </a>
              <% end %>
            </td>

            <td class="border px-4 py-2 underline">
              <form method="POST" action="jobs/<%= job.slug %>/delete" onsubmit="return confirm('Are you sure you want to delete this job?');">
                <div style="margin:0;padding:0">
                  <input name="_method" value="delete" type="hidden" />
                  <button class="text-red-500 font-semibold underline" type="submit">Delete</button>
                </div>
              </form>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
