<div class="rounded shadow my-8 bg-white w-2/3 p-10 mx-auto">
  <div class="font-bold text-2xl mb-2 ">
    Board Settings
  </div>
  <form class="my-6" method="POST" action="settings/update">
    <input name="_method" value="patch" type="hidden">

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Account Name
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="org_name" type="text" value="<%= @account.org_name %>" required>
      <p class="text-gray-600 text-xs italic">The name of your organization or business.</p>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Summary
      </label>
      <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="org_bio" type="text" rows="10"><%= @account.org_bio %></textarea>
      <p class="text-gray-600 text-xs italic">Provide a few sentences to summarize what your organization does and what jobs people can find here.</p>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Homepage Link
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="homepage" type="url" value="<%= @account.homepage %>">
      <p class="text-gray-600 text-xs italic">This will add a link on the top navigation menu to your main website or homepage. This is optional</p>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Google Analytics Tracking ID
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="goolge-analytics" type="url" value="<%= @account.google_analytics %>">
      <p class="text-gray-600 text-xs italic">For the best results, create a new property under your account.</p>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Posting Offer
      </label>
      <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="posting_offer" type="text" rows="10"><%= @account.posting_offer %></textarea>
      <p class="text-gray-600 text-xs italic">Explain what paying for a job posting gets someone, for example, "Your job listing will be posted for 90 days, shared to our 2k+ Twitter followers and 700+ newsletter subscribers."</p>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Font Choice
      </label>
      <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="font_family">
        <% @fonts = ["", "Fira Sans", "Montserrat", "Poppins", "Raleway", "Rubik"] %>
        <% @fonts.each do |font| %>
          <% if @account.font_family == font %>
            <option value="<%= font %>" selected><%= font == "" ? "Default" : font %></option>
          <% else %>
            <option value="<%= font %>"><%= font == "" ? "Default" : font %></option>
          <% end %>
        <% end %>
      </select>
      <p class="text-gray-600 text-xs italic">You can choose a different font.</p>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Accent Color
      </label>
      <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="accent_color">
        <% @colors = ["Gray", "Red", "Orange", "Yellow", "Green", "Teal", "Blue", "Indigo", "Purple", "Pink"] %>
        <% @colors.each do |color| %>
          <% color_val = color.downcase %>
          <% if @account.accent_color == color_val %>
            <option value="<%= color_val %>" selected><%= color %></option>
          <% else %>
            <option value="<%= color_val %>"><%= color %></option>
          <% end %>
        <% end %>
      </select>
      <p class="text-gray-600 text-xs italic">You can choose a different color for buttons and links.</p>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Job Expiration Days
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="job_expiry" type="number" value="<%= @account.job_expiry %>">
      <p class="text-gray-600 text-xs italic">After X days the jobs will no longer be listed. Set to 0 for no expiration.</p>
    </div>

    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        Save your settings
      </button>
    </div>
  </form>

</div>
