<div class="w-full mb-8">
  <div class="mb-8">
    <p class="font-bold mb-3">
      Job Details
    </p>
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-gray-700 lg:text-sm font-bold mb-2">
          Job Title
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="original-position" type="text" name="position" value="<%= @job.position %>"required>
        <p class="text-gray-600 text-sm lg:text-xs italic">Please specify a job title like "Marketing Manager".</p>
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 lg:text-sm font-bold mb-2">
          Job Description
        </label>
        <div id="editor"><%= @job.description || @html_template %></div>
        <input id="hiddenArea" name="description" value="" type="hidden" style="display: none;">
        <p class="text-gray-600 text-sm lg:text-xs italic mt-2">Share all background information, responsibilities, requirements and any company details.</p>
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 lg:text-sm font-bold mb-2">
          Link to Application
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="url" name="application" value="<%= @job.application %>" required>
        <p class="text-gray-600 text-sm lg:text-xs italic">Please share the application URL.</p>
      </div>

      <div class="mb-4 w-5/12 inline-block">
        <label class="block text-gray-700 text-sm font-bold mb-2">
          Job Type <span class="text-gray-600, text-xs font-light">(optional)</span>
        </label>
        <div class="relative w-64">
          <select class="appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 mb-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="original-type" name="job-type">
            <% @job_types = ["", "Full Time", "Part Time", "Contract", "Internship", "Temporary"] %>
            <% @job_types.each do |job_type| %>
              <% if @job.job_type == job_type %>
                <option value="<%= job_type %>" selected><%= job_type %></option>
              <% else %>
                <option value="<%= job_type %>"><%= job_type %></option>
              <% end %>
            <% end %>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700" style="bottom: 8px; right: 5px">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
        <p class="text-gray-600 text-sm lg:text-xs italic">Let applicants know what type of job it is.</p>
      </div>

      <% if (@categories) and (!@categories.empty?) %>
      <div class="mb-4 w-5/12 inline-block">
        <label class="block text-gray-700 text-sm font-bold mb-2">
          Job Category <span class="text-gray-600, text-xs font-light">(optional)</span>
        </label>
        <div class="relative w-full">
          <select class="appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 mb-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="original-type" name="category">
            <option value=""></option>
            <% @categories.each do |category| %>
              <% if @job.category == category.slug %>
                <option value="<%= category.slug %>" selected><%= category.name %></option>
              <% else %>
                <option value="<%= category.slug %>"><%= category.name %></option>
              <% end %>
            <% end %>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700" style="bottom: 8px; right: 5px">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
        <p class="text-gray-600 text-sm lg:text-xs italic">Select the category that fits best.</p>
      </div>
      <% end %>


    </div>
  </div>
</div>

<div class="w-full mb-8">
  <p class="font-bold mb-3">
    Company Details
  </p>
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-gray-700 lg:text-sm font-bold mb-2">
        Company Name
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="original-company" type="text" name="company-name" value="<%= @job.company_name %>" required>
      <p class="text-gray-600 text-sm lg:text-xs italic">Your brand or trade name without Inc or LLC.</p>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 lg:text-sm font-bold mb-2">
        Office Location
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="original-location" type="text" name="location" value="<%= @job.location %>" required>
      <p class="text-gray-600 text-sm lg:text-xs italic">Please specify the city, state or country. If remote, simply put "Remote".</p>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 lg:text-sm font-bold mb-2">
        Company Website <span class="text-gray-600, text-xs font-light">(optional)</span>
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="original-website" type="url" name="company-url" value="<%= @job.company_url %>">
      <p class="text-gray-600 text-sm lg:text-xs italic">You can link to your homepage, about page or careers page.</p>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 lg:text-sm font-bold mb-2">
        Company Logo <span class="text-gray-600, text-xs font-light">(optional)</span>
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="logo" type="file" accept="image/jpg, image/jpeg, image/png, image/gif, image/tiff, image/tif, image/svg" id="logo-upload">
      <p class="text-gray-600 text-xs italic">This will replace the name of your organization on the top left of the public job board. Please make sure the file is less than 1 MB and is either a JPG or PNG file. This field is optional.</p>
    </div>
  </div>
</div>
