<div class="w-full mb-8">
  <div class="mb-8">
    <p class="font-bold mb-3">
      Job Details
    </p>
    <div class="bg-white border rounded px-8 pt-6 pb-8 mb-4">

      <div class="mb-4">
        <label class="block text-gray-700 lg:text-sm font-bold mb-2">
          Job Title
        </label>
        <input class="appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 mb-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="original-position" type="text" name="position" value="<%= @job.position %>"required>
        <p class="text-gray-600 text-sm lg:text-xs italic">Please specify a job title like "Marketing Manager".</p>
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 lg:text-sm font-bold mb-2">
          Job Description
        </label>
        <textarea class="appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 mb-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="original-description" type="text" rows="20" name="description"><%= @job.description || @markdown_template %></textarea>
        <p class="text-gray-600 text-sm lg:text-xs italic mt-2">This field uses Markdown. Click the question mark to learn how to format your text.</p>
      </div>



      <div class="mb-4">
        <label class="block text-gray-700 lg:text-sm font-bold mb-2">
          Link to Application
        </label>
        <input class="appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 mb-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="application" type="url" name="application" value="<%= @job.application %>" required>
        <p class="text-gray-600 text-sm lg:text-xs italic">Please share the application URL.</p>
      </div>

      <!-- <div class="mb-4">
        <label class="block text-gray-700 lg:text-sm font-bold mb-2">
          How to apply?
        </label>
        <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="original-app" type="text" rows="6" name="application"></textarea>
        <p class="text-gray-600 text-sm lg:text-xs italic">Please share any special instructions.</p>
      </div> -->

      <div class="mb-4 mr-4 w-5/12 inline-block">
        <label class="block text-gray-700 text-sm font-bold mb-2">
          Job Type <span class="text-gray-600, text-xs font-light">(optional)</span>
        </label>
        <div class="relative w-64">
          <select class="appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 mb-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="original-type" name="job-type">
            <% @job_types = ["", "Full Time", "Part Time", "Contract", "Internship", "Temporary"] %>
            <% @job_types.each do |job_type| %>
              <% if @job.job_type == job_type %>
                <option value="<%= job_type %>" selected><%= job_type %></option>
              <% else %>
                <option value="<%= job_type %>"><%= job_type %></option>
              <% end %>
            <% end %>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700" style="bottom: 8px; right: 5px">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
        <p class="text-gray-600 text-sm lg:text-xs italic">Let applicants know what type of job this is.</p>
      </div>

      <% if (@categories) and (!@categories.empty?) %>
      <div class="mb-4 w-5/12 inline-block">
        <label class="block text-gray-700 text-sm font-bold mb-2">
          Job Category <span class="text-gray-600, text-xs font-light">(optional)</span>
        </label>
        <div class="relative w-full">
          <select class="appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 mb-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="original-type" name="category">
            <option value=""></option>
            <% @categories.each do |category| %>
              <% if @job.category == category.slug %>
                <option value="<%= category.slug %>" selected><%= category.name %></option>
              <% else %>
                <option value="<%= category.slug %>"><%= category.name %></option>
              <% end %>
            <% end %>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700" style="bottom: 8px; right: 5px">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
        <p class="text-gray-600 text-sm lg:text-xs italic">Select the category that fits best.</p>
      </div>
      <% end %>

    </div>
  </div>
</div>

<div class="w-full mb-8">
  <p class="font-bold mb-3">
    Company Details
  </p>
  <div class="bg-white border rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-gray-700 lg:text-sm font-bold mb-2">
        Company Name
      </label>
      <input class="appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 mb-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="original-company" type="text" name="company-name" value="<%= @job.company_name %>" required>
      <p class="text-gray-600 text-sm lg:text-xs italic">Your brand or trade name without Inc or LLC.</p>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 lg:text-sm font-bold mb-2">
        Office Location
      </label>
      <input class="appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 mb-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="original-location" type="text" name="location" value="<%= @job.location %>" required>
      <p class="text-gray-600 text-sm lg:text-xs italic">Please specify the city, state or country. If remote, simply put "Remote".</p>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 lg:text-sm font-bold mb-2">
        Company Website <span class="text-gray-600, text-xs font-light">(optional)</span>
      </label>
      <input class="appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 mb-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="website" type="url" name="company-url" value="<%= @job.company_url %>">
      <p class="text-gray-600 text-sm lg:text-xs italic">You can link to your homepage, about page or careers page.</p>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 lg:text-sm font-bold mb-2">
        Company Logo <span class="text-gray-600, text-xs font-light">(optional)</span>
      </label>
      <input class="appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 mb-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="logo" type="file" accept="image/jpg, image/jpeg, image/png, image/gif, image/tiff, image/tif, image/svg" id="logo-upload">
      <p class="text-gray-600 text-xs italic">Please make sure the file is less than 1 MB (<a href="https://www.loom.com/share/468afe6b773849fd93615b0b15b28f42" target="_blank" class="underline">resizing tutorial</a>) and is either a JPG or PNG file.</p>
    </div>

  </div>
</div>

<div class="w-full mb-8">
  <p class="font-bold mb-3">
    Your Details
  </p>
  <div class="bg-white border rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-gray-700 lg:text-sm font-bold mb-2">
        Your Name
      </label>
      <input class="appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 mb-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="owner" type="text" name="owner" value="<%= @job.owner %>" required>
      <p class="text-gray-600 text-sm lg:text-xs italic">Stays private, used for record keeping.</p>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 lg:text-sm font-bold mb-2">
        Your Email
      </label>
      <input class="appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 mb-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="contact" type="email" name="contact" value="<%= @job.contact %>" required>
      <p class="text-gray-600 text-sm lg:text-xs italic">Stays private, used for record keeping.</p>
    </div>

    <% if (@settings.job_price.to_i > 0) and (@job.position.nil?) %>
    <div class="mb-4">
      <label class="block text-gray-700 lg:text-sm font-bold mb-2">
        Credit Card Details
      </label>
      <p class="lg:text-sm text-gray-800">
        You'll pay on the next page via Stripe. If you don't have a credit card handy, please come back when you do.
      </p>
    </div>
    <% end %>

    <% if (@settings.featured_option == "Yes") and (@settings.featured_price.to_i > 0) and (@job.position.nil?) %>
    <div class="mb-4">
      <label class="block text-gray-700 lg:text-sm font-bold mb-2">
        Feature Your Job
      </label>
      <p class="lg:text-sm text-gray-800 mb-4">
        A featured job will be highlighted in yellow and pinned at the top of the job board. It will get 3x the views as regular job postings. <span class="font-bold">Featuring a job costs: $<%= @settings.featured_price %></span>.
      </p>
      <div class="relative w-32">
        <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="featured" id="featured-option">
          <% @options = ["", "Yes"] %>
          <% @options.each do |option| %>
            <option value="<%= option %>"><%= option == "" ? "" : option %></option>
          <% end %>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700" style="bottom: 8px; right: 5px">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
      </div>
    </div>
    <% end %>

  </div>
</div>

<div class="w-full mb-8">
  <p class="font-bold mb-3">
    This is how your job will appear
  </p>

  <!-- Card Preview -->
  <div class="bg-white border rounded px-8 pt-6 pb-8 mb-4">
    <div class="flex items-center rounded border border-gray-300 mb-3 hover:shadow bg-white" id="preview-card">
      <div class="w-20 ml-4" id="preview-logo">
        <div class="border text-center text-2xl text-gray-500 py-3 rounded">
          <p>
            LG
          </p>
        </div>
      </div>
      <div class="w-3/4 lg:w-4/6 px-6 py-4">
        <p class="mb-2 text-xl lg:text-base text-black" id="preview-company">
          Company
        </p>
        <div class="mb-2">
          <p class="font-bold text-2xl lg:text-xl text-black" id="preview-position">
            Position
          </p>
        </div>
        <p class="text-gray-600 text-xl lg:text-base">
          <span id="preview-location">Location </span> <span id="preview-type">/ Type</span>
        </p>
      </div>
      <div class="flex-1">
        <p class="text-xl lg:text-base text-black" id="preview-date">
          Posted Date
        </p>
      </div>
    </div>

    <div class="mb-4">
      <p class="text-black markdown-text" id="preview-description">
        Your job description goes here.
      </p>
    </div>

    <div class="mt-4 mb-4">
      <div id="preview-application" class="inline-block"></div>
      <div id="preview-company-link" class="inline-block"></div>
    </div>

  </div>
</div>
