<% if (job.featured) and (job.featured == "Yes") %>
<div class="flex items-center rounded border border-gray-300 mb-3 hover:shadow bg-yellow-100">
<% else %>
<div class="flex items-center rounded border border-gray-300 mb-3 hover:shadow bg-white">
<% end %>
  <div class="w-20 ml-4">
    <% if (job.company_logo) and (!job.company_logo.empty?) %>
    <img src="/logos/<%= job.company_logo %>" class="mx-auto" style="max-width: 80px; max-height: 100px">
    <% else %>
    <div class="border text-center text-2xl text-gray-500 py-3 rounded">
      <p>
        <%= job.company_name.split.map{|i| i[0,1].upcase}.join %>
      </p>
    </div>
    <% end %>
  </div>
  <div class="w-3/4 lg:w-4/6 px-6 py-4">
    <div class="mb-2">
      <p class="text-xl lg:text-base text-black">
        <%= job.company_name %>
      </p>
    </div>
    <div class=" mb-2">
      <p class="font-bold text-black text-2xl lg:text-xl">
        <%= job.position %>
      </p>
    </div>
    <div>
      <p class="text-gray-600 text-xl lg:text-base">
        <%= job.location %> <%= job.type.empty? ? "" : "/ #{job.type}" %>
      </p>
    </div>
  </div>
  <div class="flex-1">
    <p class="text-xl lg:text-base text-black">
      <% if (job.featured) and (job.featured == "Yes") %>
      <span class="font-medium">Featured</span>
      <% else %>
        <% if job.date %>
          <%= Time.parse(job.date).strftime('%B %e') %>
        <% end %>
      <% end %>
    </p>
  </div>
</div>
