<% if (@account.homepage) and (!@account.homepage.empty?) %>
<a href="<%= @account.homepage %>" target="_blank" class="inline-block px-4 py-2 leading-none font-medium hover:text-gray-500 mt-0">About Us</a>
<% end %>

<nav class="flex items-center justify-between flex-wrap p-6 w-3/4 mx-auto text-xl lg:text-base">
  <div class="flex items-center flex-shrink-0 text-gray-600 mr-6">
    <a href="<%= @other_host ? "/" : @other_host_route %>">
      <span class="font-semibold text-xl tracking-tight">Job Board</span>
    </a>
  </div>
  <div class="text-center">

    <!-- Logo or name  -->
    <a href="<%= @account.homepage ? @account.homepage : '#' %>" target="_blank" class="inline-block leading-none font-medium hover:text-gray-500 mt-0">
      <% if (@account.logo) and (!@account.logo.empty?) %>
      <img src="/logos/<%= @account.logo %>" alt="" style="max-width: 200px; max-height: 100px">
      <% else %>
      <span class=""><%= @account.org_name %></span>
      <% end %>
    </a>

  </div>
  <div class="block lg:flex lg:items-center lg:w-auto justify-end">
    <div>
      <a href="<%= @other_host_route %>/search" class="inline-block px-4 py-2 leading-none border rounded text-gray border-gray hover:border-transparent hover:text-gray-600 hover:bg-white mt-0 mr-2">Search Jobs</a>
    </div>
    <div>
      <a href="<%= @other_host ? "jobs/new" : "#{@other_host_route}/jobs/new" %>" class="inline-block px-4 py-2 leading-none border rounded text-gray border-gray hover:border-transparent hover:text-gray-600 hover:bg-white mt-0">Post a job</a>
    </div>
  </div>
</nav>
