<% content_for :social do %>
  <meta property="og:title" content="<%= @job.position %>">
  <meta property="og:description" content="<%= truncate(@job.description, 200) %>">
  <meta property="og:image" content="https://www.tryferret.com/now-hiring.png">
  <!-- <meta property="og:url" content="http://www.google.com/"> -->
  <meta name="twitter:card" content="summary">
<% end %>

<% content_for :head do %>
  <script src="/marked.min.js"></script>
  <title>Job Board - <%= @account.org_name %></title>
<% end %>

<section class="mt-10">
  <div>
    <p class="text-red-500 font-semibold">
      <% if @other_host %>
      <a href="/">
      <% else %>
      <a href="/board/<%= @account.slug %>">
      <% end %>
        &larr; Back to all jobs
      </a>
    </p>
  </div>
</section>

<section class="mt-6">
  <%= erb :'shared/job_card', locals: { job: @job } %>
</section>

<section class="text-3xl lg:text-base">
  <div class="mb-4">
    <p class="markdown-text"><%= @job.description %></p>
  </div>
</section>

<section class="mt-8 mb-16">
  <a href="<%= @job.application %>" target="_blank">
    <button class="bg-blue-500 hover:bg-blue-700 text-white text-xl lg:text-base font-bold py-2 px-4 rounded">
      Apply to job
    </button>
  </a>

  <% if (@job.company_url) and (!@job.company_url.empty?) %>
  <a href="<%= @job.company_url %>" target="_blank">
    <button class="bg-transparent hover:bg-blue-500 text-blue-700 text-xl lg:text-base font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
      Learn about the company
    </button>
  </a>
  <% end %>

</section>

<script>
  const markdownText = Array.from(document.querySelectorAll('.markdown-text'));
  markdownText.forEach(text => text.innerHTML = marked(text.innerHTML))
</script>
