<!-- Board title and summary -->
<section class="mt-4 mb-24">
  <div class="text-center">
    <div class="">
      <p class="text-6xl font-bold text-black">
        <%= @settings.org_name %>
      </p>
    </div>
    <div class="mb-6 max-w-3xl m-auto">
      <p class="text-4xl lg:text-3xl text-gray-600">
        <%= @settings.org_bio %>
      </p>
    </div>
    <p class="underline">
      <a href="<%= @other_host ? "jobs/new" : "#{@other_host_route}/jobs/new" %>">
        Hiring? Post a Job →
      </a>
    </p>

  </div>
</section>

<!-- List all categories -->
<% if (@categories) and (!@categories.empty?) %>
<section class="my-8 text-center">
  <div class="flex flex-wrap justify-center">
    <div class="mr-4">
      <a href="<%= @other_host ? "/" : @other_host_route %>">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="button">
          All
        </button>
      </a>
    </div>
    <% @categories.each do |category| %>
    <div class="mr-4">
      <a href="<%= @other_host_route %>/categories/<%= category.slug %>">
        <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" type="button">
          <%= category.name %>
        </button>
      </a>
    </div>
    <% end %>
  </div>
</section>
<% end %>

<!-- List all jobs -->
<section class="mt-10">
  <% if @jobs.nil? or @jobs.empty? %>
    <p class="text-xl text-center">
      There are no jobs here. Please add one!
    </p>
  <% elsif @jobs %>
    <% @jobs.each_with_index do |job, index| %>
      <% if @other_host %>
        <a href="jobs/<%= job.slug %>">
      <% else %>
        <a href="<%= params['account'] %>/jobs/<%= job.slug %>">
      <% end %>
          <%= erb :'shared/job_card', locals: { job: job } %>
        </a>
    <% end %>
  <% end %>
</section>
