<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <!-- Parent GA Code -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117123575-7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-117123575-7');
    </script>

    <!-- User GA Code -->
    <% if (@settings.google_analytics) and (!@settings.google_analytics.empty?) %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= @settings.google_analytics %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%= @settings.google_analytics %>');
    </script>
    <% end %>

    <meta charset="utf-8">

    <%= yield_content :social %>

    <!-- CSS -->
    <link rel="stylesheet" href="/tailwind.min.css">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.png">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <!-- Choose custom font -->
    <% if (@settings.font_family) and (!@settings.font_family.empty?) %>
      <style>
        body {
          font-family: "<%= @settings.font_family %>", sans-serif;
        }
      </style>
    <% end %>

    <!-- JavaScript -->
    <script src="/moment.min.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <%= yield_content :head %>

    <title>Job Board - <%= @settings.org_name %></title>

  </head>
  <body class="<%= (@settings.bg_color == 'white' || @settings.bg_color.nil?) ? 'bg-white' : "bg-#{@settings.bg_color}-100" %>">

    <nav class="flex items-center justify-between flex-wrap p-6 mt-6 w-full lg:w-3/4 mx-auto text-xl lg:text-base">
      <div class="flex items-center flex-shrink-0 ">
        <p class="mr-6 text-gray-600">
          <a href="<%= @other_host ? "/" : @other_host_route %>" class="">
            <span class="font-semibold text-xl tracking-tight">Job Board</span>
          </a>
        </p>
        <p class="inline-block px-4 py-2 leading-none text-gray hover:text-gray-600 mt-0">
          <a href="<%= @other_host ? "/jobs/new" : "#{@other_host_route}/jobs/new" %>" class="">Post a job</a>
        </p>
        <p class="inline-block px-4 py-2 leading-none text-gray hover:text-gray-600 mt-0 mr-2">
          <a href="<%= @other_host_route %>/search" class="">Search jobs</a>
        </p>

        <% if (@settings.digest) and (@settings.digest == "Yes") %>
        <p class="inline-block px-4 py-2 leading-none text-gray hover:text-gray-600 mt-0 mr-2">
          <a href="<%= @other_host_route %>/digest" class="">Weekly digest</a>
        </p>
        <% end %>

        <% if (@settings.dark_mode) and (@settings.dark_mode == "Yes") %>
        <p class="inline-block px-4 py-2 leading-none text-gray hover:text-gray-600 mt-0 cursor-pointer">
          <a id="dark-mode-toggle">Dark mode</a>
        </p>
        <% end %>

      </div>
      <div class="block lg:flex lg:items-center lg:w-auto justify-end">
        <!-- Logo or name  -->
        <p class="inline-block px-4 py-2 leading-none font-medium text-black hover:text-gray-500 mt-0">
          <a
            href="<%= (@settings.homepage) and (!@settings.homepage.empty?) ?  @settings.homepage : @other_host_route %>"
            target="<%= (@settings.homepage) and (!@settings.homepage.empty?) ? '_blank' : '_self' %>">
            <% if (@settings.logo) and (!@settings.logo.empty?) %>
            <img
              src="/logos/<%= @settings.logo %>"
              alt="Logo"
              style="max-width: 200px; max-height: 75px">
            <% else %>
            <span class=""><%= @settings.org_name %></span>
            <% end %>
          </a>
        </p>

      </div>
    </nav>

    <div class="w-full lg:container lg:mx-auto lg:w-3/4 px-10">
      <%= yield %>
    </div>

    <!-- Footer link back to ferret -->
    <section>
      <div class="text-center mt-40 mb-8 text-gray-600">
        <p>
          <a href="http://www.hyperplane.co" target="_blank" class="text-blue-500">Made by Hyperplane</a>
        </p>
      </div>
    </section>

    <!-- Choose accent color -->
    <% if (@settings.accent_color) and (!@settings.accent_color.empty?) %>
      <% @color = @settings.accent_color %>
      <script>
        const color = "<%= @color %>";

        // Normal buttons
        const bgClass = `bg-${color}-500`;
        const hoverClass = `hover:bg-${color}-700`;

        // Transparent buttons
        const borderClass = `border-${color}-500`;
        const borderHoverClass = `hover:bg-${color}-500`;
        const borderTextClass = `text-${color}-700`

        const buttons = Array.from(document.querySelectorAll('button'));

        buttons.forEach(function(button) {
          if (button.classList.contains("bg-blue-500")) {
            button.classList.remove("bg-blue-500", "hover:bg-blue-700")
            button.classList.add(bgClass, hoverClass)
          }

          if (button.classList.contains("border-blue-500")) {
            button.classList.remove("border-blue-500", "hover:bg-blue-500", "text-blue-700")
            button.classList.add(borderClass, borderHoverClass, borderTextClass)
          }
        })

        const textClass = `text-${color}-500`
        const links = Array.from(document.querySelectorAll('div p a'));

        links.forEach(function(link) {
          if (link.classList.contains("text-blue-500")) {
            link.classList.remove("text-blue-500")
            link.classList.add(textClass)
          }
        })

      </script>
    <% end %>

    <!-- Toggle dark mode -->
    <% if (@settings.dark_mode) and (@settings.dark_mode == "Yes") %>
    <script>
      darkMode = window.localStorage.getItem('darkMode') || 'false';

      if (darkMode == 'true') {
        enableDarkMode()
      }

      document.getElementById('dark-mode-toggle').addEventListener('click', function() {
        if (darkMode == 'false') {
          window.localStorage.setItem('darkMode', 'true');
          location.reload();
        }
        if (darkMode == 'true') {
          window.localStorage.setItem('darkMode', 'false');
          location.reload();
        }
      })

      function enableDarkMode() {

        const whiteBoxes = Array.from(document.querySelectorAll('body.bg-white, div.bg-white'))
        whiteBoxes.forEach(function(box) {
          box.classList.remove("bg-white")
          box.classList.add("bg-black")
        })

        const grayBox = document.querySelector('body.bg-gray-100')
        if (grayBox) {
          grayBox.classList.remove("bg-gray-100")
          grayBox.classList.add("bg-black")
        }

        const yellowBoxes = Array.from(document.querySelectorAll('div.bg-yellow-100'))
        yellowBoxes.forEach(function(box) {
          box.classList.remove("bg-yellow-100")
          box.classList.add("bg-gray-800")
        })

        const whiteText = Array.from(document.querySelectorAll('p.text-black'))
        whiteText.forEach(function(text) {
          text.classList.remove("text-black")
          text.classList.add("text-white")
        })

        const grayText = Array.from(document.querySelectorAll('p.text-gray'))
        grayText.forEach(function(text) {
          text.classList.remove("text-gray")
          text.classList.add("text-gray-500")
        })

        const grayLinks = Array.from(document.querySelectorAll('p.text-gray-600'))
        grayLinks.forEach(function(link) {
          link.classList.remove("text-gray-600")
          link.classList.add("text-gray-300")
          link.classList.remove("hover:text-gray-600")
          link.classList.add("hover:text-gray-300")
        })

        const labels = Array.from(document.querySelectorAll('label.text-gray-700'))
        labels.forEach(function(label) {
          label.classList.remove("text-gray-700")
          label.classList.add("text-gray-200")
        })

      }

    </script>
    <% end %>

  </body>
</html>
