<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <% if (@account.google_analytics) and (!@account.google_analytics.empty?) %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= @account.google_analytics %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%= @account.google_analytics %>');
    </script>
    <% end %>

    <meta charset="utf-8">

    <%= yield_content :social %>

    <!-- CSS -->
    <link rel="stylesheet" href="/tailwind.min.css">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.png">

    <!-- Choose custom font -->
    <% if (@account.font_family) and (!@account.font_family.empty?) %>
      <style>
        body {
          font-family: "<%= @account.font_family %>", sans-serif;
        }
      </style>
    <% end %>

    <!-- JavaScript -->
    <script src="/moment.min.js"></script>

    <%= yield_content :head %>

    <title>Job Board - <%= @account.org_name %></title>

  </head>
  <body class="">
    <nav class="flex items-center justify-between flex-wrap bg-white p-6 w-3/4 mx-auto text-xl lg:text-base">
      <div class="flex items-center flex-shrink-0 text-gray-600 mr-6">
        <% if @other_host %>
          <a href="/">
        <% else %>
          <a href="/board/<%= @account.slug %>">
        <% end %>

        <!-- Logo or name  -->
        <% if (@account.logo) and (!@account.logo.empty?) %>
          <img src="/logos/<%= @account.logo %>" alt="" style="max-width: 200px; max-height: 100px">
        <% else %>
          <span class="font-semibold text-xl tracking-tight"><%= @account.org_name %></span>
        <% end %>

        <% if (@account.homepage) and (!@account.homepage.empty?) %>
          <a href="<%= @account.homepage %>" target="_blank" class="inline-block px-4 py-2 leading-none font-medium hover:text-gray-500 mt-0">About Us</a>
        <% end %>


        </a>
      </div>
      <div class="block lg:flex lg:items-center lg:w-auto justify-end">
        <div>

          <% if @other_host %>
            <a href="/search" class="inline-block px-4 py-2 leading-none border rounded text-gray border-gray hover:border-transparent hover:text-gray-600 hover:bg-white mt-0">Search Jobs</a>
          <% else %>
            <a href="/board/<%= @account.slug %>/search" class="inline-block px-4 py-2 leading-none border rounded text-gray border-gray hover:border-transparent hover:text-gray-600 hover:bg-white mt-0">Search Jobs</a>
          <% end %>

        </div>
      </div>
    </nav>

    <div class="w-full lg:container lg:mx-auto lg:w-3/4 px-10">
      <%= yield %>
    </div>

    <!-- Choose accent color -->
    <% if (@account.accent_color) and (!@account.accent_color.empty?) %>
      <% @color = @account.accent_color %>
      <script>
        const color = "<%= @color %>";

        // Normal buttons
        const bgClass = `bg-${color}-500`;
        const hoverClass = `hover:bg-${color}-700`;

        // Transparent buttons
        const borderClass = `border-${color}-500`;
        const borderHoverClass = `hover:bg-${color}-500`;
        const borderTextClass = `text-${color}-700`

        const buttons = Array.from(document.querySelectorAll('button'));

        buttons.forEach(function(button) {
          if (button.classList.contains("bg-blue-500")) {
            button.classList.remove("bg-blue-500", "hover:bg-blue-700")
            button.classList.add(bgClass, hoverClass)
          }

          if (button.classList.contains("border-blue-500")) {
            button.classList.remove("border-blue-500", "hover:bg-blue-500", "text-blue-700")
            button.classList.add(borderClass, borderHoverClass, borderTextClass)
          }
        })

        const textClass = `text-${color}-500`
        const links = Array.from(document.querySelectorAll('div p a'));

        links.forEach(function(link) {
          if (link.classList.contains("text-blue-500")) {
            link.classList.remove("text-blue-500")
            link.classList.add(textClass)
          }
        })

      </script>
    <% end %>

  </body>
</html>
